<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>io.piercast.macos</string>
  <key>CFBundleName</key>
  <string>Piercast</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>io.piercast.open</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>piercast</string>
      </array>
    </dict>
  </array>
  <key>SUFeedURL</key>
  <string>https://piercast.io/appcast.xml</string>
</dict>
</plist>
